<div class="container">
  <% if @bottle.errors %>
    <% @bottle.errors.full_messages.each do |error| %>
      <%= content_tag(:p, error) %>
    <% end %>
<% end %>

  <h3 class="mt-3">Add a new bottle to your Cellr.</h3>

  <%= render 'form' %><br>
  <%= link_to 'View all bottles', user_bottles_path(current_user.id) %>

</div>
