<div class="container">

  <h3><%= @bottle.title %> </h3>
  <p>You have (bottle_count) on hand!</p>

  <%= link_to 'Edit Wine', edit_user_bottle_path(@bottle.id), class: 'btn btn-secondary' %>

</div>
