<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Cellr</h1>
    <p class="lead">Your Cellr is worth caring about.</p>
    <hr class="my-4">
    <p>Keep track of your Cellr by Vintage, Grape Varietal, Price and more...</p>
    <% if logged_in? %>
      <%= link_to 'My Cellr', current_user, class: "btn btn-primary btn-lg" %>
        <% else %>
      <%= link_to 'Sign Up Today', signup_path, class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
      <img src="assets/wine-barrell.jpg" class="d-block w-100 h-50" alt="...">
  </div>
</div>
</div>
