<div class="container">
  <h1 class="mt-3">Viewing all Wineries in Cellr</h1>
      <% @wineries.each do |w| %>
      <div class="card mt-5">
        <div class="card-body">
        <h3><%= w.name %></h3>
        <%= link_to "Add a bottle from #{w.name}", new_bottle_path, class: "btn btn-secondary" %><br>
        <%= link_to "View Wines from #{w.name}", winery_path(w.id), class: "btn btn-info mt-3" %><br>
    </div>
  </div>
  <% end %><br>
  <%= link_to "Add a new winery", new_winery_path, class: "btn btn-light" %>
</div>
