<div class="container">
<% if @winery.errors %>
    <% @winery.errors.full_messages.each do |error| %>
      <%= content_tag(:p, error) %>
    <% end %>
<% end %>
  <h1> Add a new Winery to Cellr. </h1>

  <%= bootstrap_form_for @winery do |w| %>
  <%= w.text_field :name %>
  <%= w.submit "Add Winery" %>
  <% end %>
  <div class="card mt-5">
    <div class="card-body">
    <h3 id="wineryName"></h3>
  </div>
</div>


<script type="text/javascript">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/wineries', values);
      posting.done(function(data) {
        var winery = data;
        $("#wineryName").text(winery["name"]);
      });
    });
  });
</script>
