<div class="container">
<% if @winery.errors %>
    <% @winery.errors.full_messages.each do |error| %>
      <%= content_tag(:p, error) %>
    <% end %>
<% end %>
  <h1> Add a new Winery to Cellr. </h1>

  <%= bootstrap_form_for @winery do |w| %>
  <%= w.text_field :name %>
  <%= w.submit "Add Winery" %>
  <% end %>
</div>
