<div class="container">

  <h3 class="mt-3 mb-3"><%= @winery.name %> Wines </h3>
  <a href="#" class="show-bottles" data-id="<%=@winery.id%>" name="button" >Show Bottles</a>

  <div class="wines mt-5">

  </div>
</div>


<script type="text/javascript">
  $(function () {
    $(".show-bottles").on("click", function (event) {
      event.preventDefault()
      let $winery = $(".wines");
      $winery.html('');
      var wineryID = parseInt($(".show-bottles").attr("data-id"));

      $.get("/wineries/" + wineryID + ".json", function(data) {

        data.bottles.forEach(function(bottle) {
          $winery.append('<div class="card mt-5"> <div class="card-body">' +
                          '<p>' + bottle.title + '</p>' +
                          '<p>' + bottle.wine_type + '</p>' +
                          '<p>' + bottle.grape_variety + '</p>' +
                          '<p>' + bottle.vintage + '</p>' + '</div></div>')
        })
      });
    });
  });
</script>
