<div class="container">

  <h3 class="mt-3"> Viewing all wines from <%= @winery.name %> </h3>
  <% @winery.bottles.each do |d| %>
  <div class="card mt-5">
    <div class="card-body">
        <h3><%= d.title %></h3><br>
      </div>
    </div>
  <% end %>

</div>
